.top-links {
    background-color: #5d665f;
    display: flex;
    justify-content: flex-end;
}
.top-link-item {
    text-decoration: none;
    display: inline-block;
    margin: 10px 25px 10px 25px;
}
.top-link-style {
    text-decoration: none;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 13px;
}
.top-link-style:hover {
    color: #ff9800;
}
.accordion {
    margin: 0;
    border: 1px solid #d8d5db;
    border-width: 0px 1px 1px 1px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 5px solid#5d665f;
    z-index: 999999;
    /* box-shadow: 0px 1px 10px #888888; */
}
.accordion:nth-of-type(1) {
    border-top-width: 1px;
}
.accordion-parent {
    font-size: 18px;
    color: #3e4e50;
    font-weight: 500;
    display: flex;
    height: 120px;
    text-align: justify;
    justify-content: space-between;
}
.accordion-parent-left {
    float: left;
    width: 35%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordion-parent-right {
    float: right;
    width: 35%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: right;
}
.coffee-icon {
    padding-left: 50px;
    font-size: 60px;
    opacity: 0.8;
    color: #ff9800;
}
.accordion-link-items {
    font-weight: 550;
    font-family: sans-serif;
    color: #5d665f;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}
.accordion-link-items:hover {
    color: #ff9800;
}
.accordion-parent:hover {
    cursor: pointer;
}
.accordion-content {
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
}
.accordion-content[aria-expanded="true"] {
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.panel {
    padding: 0 18px;
    overflow: hidden;
    height: 420px;
}
.caret {
    padding-left: 4px;
}
.button {
    background-color: #ff9800;
    border: none;
    color: white;
    padding: 0px 40px 0px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 40px;
}
.send-button,
.filter-button,
.search-button {
    border-radius: 20px;
    box-shadow: 0px 1px 10px #888888;
}
form.search-bar input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 85%;
    background: #f1f1f1;
    border-radius: 20px;
}
.loader {
    font-size: 100px;
    color: #ff9800;
    opacity: 0.6;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loader-background {
    position: fixed;
    right: 0px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    outline: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #1890ff;
}
.profile {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    align-items: center;
    grid-gap: 2rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    border: #ccc solid 1px;
    background-color: #f4f4f4;
    text-align: start;
}
.profile img {
    width: 200px;
    margin: auto;
}
.pointer {
    cursor: pointer;
}
.slideshow-container {
    padding-top: 20px;
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.carousel-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.carousel-number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.hide-carousel-image {
    display: none;
}
.show-carousel-image {
    display: block;
}
.carousel-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.carousel-dot:hover {
    background-color: #ff9800;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.prev-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.prev-button,
.next-button {
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ff9800;
    font-weight: bold;
}
.next-button {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: unset;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-closed {
    display: none;
}
.modal-opened {
    display: block;
}
.globe-icon {
    font-size: 30px;
    opacity: 0.8;
    color: orange;
}
.icon-link {
    color: inherit;
    text-decoration: none;
}
.icon-link:hover {
    color: #ff9800;
}
.contact-form[type="password"],
.contact-form[type="text"],
.contact-form[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5d665f;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.5s;
    padding-left: 30px;
    padding-right: 30px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .sidenav-close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
.filter-icon {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 40px;
    background-color: #ff9800;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-floating-icon {
    margin-top: 22px;
    font-size: 25px;
}
.filter-header {
    color: #fff;
    font-family: sans-serif;
    font-size: 23px;
}
.sidenav-buttons-div {
    justify-content: space-between;
    padding: 10px;
}
.clear-filter-button {
    border-radius: 20px;
    box-shadow: 0px 1px 10px #888888;
    background-color: rgb(112, 147, 211);
}
.login-form-styles {
    margin: auto;
    padding: 30px;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    background: #f5f5f5;
    width: 30%;
    display: block;
}
.login-form-submit {
    margin: 10px 0 0 0;
    padding: 7px 10px;
    border: 1px solid #efffff;
    border-radius: 3px;
    background: #3085d6;
    width: 80%;
    font-size: 15px;
    color: white;
    display: inline-block;
    justify-self: center;
}

.register-form-styles {
    margin: auto;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background: #f5f5f5;
    width: 70%;
    display: block;
}
.email-text {
    grid-area: email-text;
}
.mobile-number-text {
    grid-area: mobile-text;
}
.first-name-text {
    grid-area: first-name;
}
.last-name-text {
    grid-area: last-name;
}
.delivery-address-text {
    grid-area: delivery-address-text;
}
.billing-address-text {
    grid-area: billing-address-text;
}
.password-text {
    grid-area: password-text;
}
.conf-password-text {
    grid-area: conf-password-text;
}

.grid {
    display: grid;
    grid-template-areas:
        "first-name last-name"
        "email-text mobile-text"
        "delivery-address-text billing-address-text"
        "password-text conf-password-text";
    grid-gap: 0px 20px;
    padding: 30px;
}
